<div _ngcontent-kms-c2="" class="footerArea">
    <div _ngcontent-kms-c2="" class="container">
        <div _ngcontent-kms-c2="" class="logo_footer"></div>
        <div _ngcontent-kms-c2="" class="area_social">
            <a _ngcontent-kms-c2="" href="http://line.me/ti/p/~@conner888" target="_bank">
                <div _ngcontent-kms-c2="" class="qr_footer"></div>
            </a>
            <div _ngcontent-kms-c2="" class="line-text" style="text-align:left;"> CALL CENTER
                <br _ngcontent-kms-c2="">
                <div _ngcontent-kms-c2="" class="footer_tel"><img _ngcontent-kms-c2="" src="/assets/images/footer/tel2.png"> Tel : 094-827-6888</div>
                <div _ngcontent-kms-c2="" class="footer_line">
                    <a _ngcontent-kms-c2="" href="http://line.me/ti/p/~@conner888" target="_bank"><img _ngcontent-kms-c2="" src="/assets/images/footer/line2.png"></a> Line@ : <a _ngcontent-kms-c2="" class="linkline_footer" href="http://line.me/ti/p/~@conner888" target="_bank">@conner888</a></div>
            </div>
        </div>
        <div _ngcontent-kms-c2="" class="menu_footer">
            <div _ngcontent-kms-c2="" class="a_link"><a _ngcontent-kms-c2="" class="linkFooter" routerLink="/" ng-reflect-router-link="/" href="/">หน้าหลัก</a></div>
            <div _ngcontent-kms-c2="" class="a_link"><a _ngcontent-kms-c2="" class="linkFooter" routerLink="page/register" ng-reflect-router-link="page/register" href="/page/register">สมัครสมาชิก</a></div>
            <div _ngcontent-kms-c2="" class="a_link"><a _ngcontent-kms-c2="" class="linkFooter" routerLink="promotion" ng-reflect-router-link="promotion" href="/promotion">โปรโมชั่น</a></div>
            <div _ngcontent-kms-c2="" class="a_link"><a _ngcontent-kms-c2="" class="linkFooter" routerLink="page/deposit" ng-reflect-router-link="page/deposit" href="/page/deposit">แจ้งฝาก</a></div>
            <div _ngcontent-kms-c2="" class="a_link"><a _ngcontent-kms-c2="" class="linkFooter" routerLink="page/withdraw" ng-reflect-router-link="page/withdraw" href="/page/withdraw">แจ้งถอน</a></div>
            <div _ngcontent-kms-c2="" class="a_link"><a _ngcontent-kms-c2="" class="linkFooter" routerLink="page/contact" ng-reflect-router-link="page/contact" href="/page/contact">ติดต่อเรา</a></div>
        </div>
        <div _ngcontent-kms-c2="" class="bank_footer"></div>
        <div _ngcontent-kms-c2="" class="visa_footer"></div>
        <div _ngcontent-kms-c2="" class="copyright_footer"> Copyright 2019 Conner888.com All rights reserved. </div>
    </div>
</div>