
        <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" >
            <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
        <app-menu></app-menu>


        <div  class="container">
            <div _ngcontent-kms-c3="" class="callcenter"></div>
            <div _ngcontent-kms-c3="" class="area_bank">
                <div _ngcontent-kms-c3="" class="row">
                    <div _ngcontent-kms-c3="" class="col-1"></div>
                    <div _ngcontent-kms-c3="" class="col-10">
                        <div _ngcontent-kms-c3="" class="area_text_bank">
                            <div _ngcontent-kms-c3="" class="text_bank"> มั่นคงปลอดภัย <span _ngcontent-kms-c3="" class="text_gold_menu">100%</span></div>
                            <div _ngcontent-kms-c3="" class="text_bank2"> บริการตลอด <span _ngcontent-kms-c3="" class="text_gold_menu">24</span> ชม. ทำรายการไม่เกิน <span _ngcontent-kms-c3="" class="text_gold_menu">1</span> นาที </div>
                        </div>
                        <div _ngcontent-kms-c3="" class="img_bank"></div>
                    </div>
                    <div _ngcontent-kms-c3="" class="col-1"></div>
                </div>
                <div _ngcontent-kms-c3="" class="row">
                    <div _ngcontent-kms-c3="" class="col-12">
                        <div _ngcontent-kms-c3="" class="area_text_des">
                            <div _ngcontent-kms-c3="" class="text_des">
                                <div _ngcontent-kms-c3="" class="header1">แทงบอลออนไลน์ Conner888 เว็บแทงบอลออนไลน์ Conner888 ที่ดีที่สุด</div>
                                <div _ngcontent-kms-c3="" class="header2"> บริการแทงบอลออนไลน์ ฝาก-ถอน ภายใน 1 นาที ตลอด 24 ชม.</div>
                                <div _ngcontent-kms-c3="" class="text_description"> Conner888 เว็บแทงบอล และ คาสิโนออนไลน์ รูปแบบใหม่ที่ไม่ผ่านเอเย่น น้องใหม่ที่พกเอาความน่าสนใจจากเว็บไซต์ยักใหญ่ การรันตีการบริการ จากยอดผู้ติดตาม มากกว่าหมื่นคน อีกทั้ง การอัพเดตสกอร์ ราคาต่อรองก่อนการแข่งขัน แบบนาทีต่อนาที รวดเร็ว ทำให้ลูกค้าสามารถวิเคราะห์และวางเดิมพัน ได้อย่างแม่นยำ และยังเป็นเว็บรวมบริการครบวงจรสำหรับผู้ที่ชื่นชอบการเดิมพันทุก ประเภท อย่างแท้งจริง Conner888 ออกราคาบอลที่รับรองได้ว่าเป็นราคาที่ถูกที่สุดในท้องตลาด มีการแทงบอลเสต็ปเพียงไม่กี่บาท และบอลเดียวก็สามารถแทงได้อย่างง่ายๆ </div>
                                <div _ngcontent-kms-c3="" class="text_description"> Conner888 ก็ยังมีคาสิโนออนไลน์ และมวยไทยออนไลน์ ที่ให้บริการได้ดีไม่แพ้กัน เพราะสามารถเข้าไปใช้งานและเล่นได้ง่ายๆเพียงไม่กี่ขั้นตอน สำหรับผู้ที่ต้องการเว็บพนันออนไลน์ที่ครบวงจร เราให้บริการด้านการเดิมพันแบบครบวงจรตลอด 24 ชั่วโมง Conner888 รับเดิมพันกีฬาออนไลน์และคาสิโนทุกประเภท สามารถเล่น การพนันออนไลน์ผ่านเว็บไซต์ หรือบนมือถือ (Iphone หรือ Android ) ได้ตลอด 24 ชม. </div>
                                <div _ngcontent-kms-c3="" class="text_description_green">หากต้องการสอบถามรายละเอียดข้อมูลเพิ่มเติม ติดต่อเราผ่านช่องทางตามนี้ตลอด 24 ชม.</div>
                                <div _ngcontent-kms-c3="" class="area_line">
                                    <div _ngcontent-kms-c3="" class="phone_image"></div>
                                    <div _ngcontent-kms-c3="" class="text_description_green2 ">CALL CENTER : 094-827-6888 หรือ </div>
                                    <a _ngcontent-kms-c3="" href="http://nav.cx/fzBmdqh" target="_bank">
                                        <div _ngcontent-kms-c3="" class="line_image"></div>
                                    </a>
                                </div>
                            </div>
                            <div _ngcontent-kms-c3="" class="area_bottom_menu">
                                <div _ngcontent-kms-c3="" class="text_bottom_menu"> ข่าวสาร </div>
                                <div _ngcontent-kms-c3="" class="area_menu" style="margin-top:15px;">
                                    <div _ngcontent-kms-c3="" class="row">
                                        <ng-container *ngFor="let news of todoList; index as i; first as isFirst;let l = count">
                                            <div _ngcontent-kms-c3="" class="col-xl-3 col-md-6 col-sm-12 newsArea" tabindex="0"  [routerLink]="['/news/news-detail',news.adjust_page_title+'-'+news.adjust_page_id]">
                                                <div _ngcontent-kms-c3="" class="cardNews">
                                                    <div _ngcontent-kms-c3="" class="image-news"  >
                                                        <img style="width: 100%; height: 100%;" src="/upload/files/{{news.adjust_page_image_name}}.{{news.adjust_page_image_type}}" alt="">
                                                    </div>
                                                    <div _ngcontent-kms-c3="" class="text-news"> {{news.adjust_page_title}} </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                        
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


<!-- <div class="qr-popup" style="display: block;">
    <i class="fa fa-window-close fa-6 close-qr" aria-hidden="true" style="display: block;"></i>
</div> -->
