
.contentArea{
    border: 1px solid #D10000;
    min-height: 952px;
    margin-top:10px;
}
.home_slide{
    float: left;
    position: relative;
    margin-top: 0px;
    z-index: 1;
    /* min-height: 150px; */
    top: 180px;
}
.home_slide{
    top:unset;
}
.slideshow-container{
    height: 200px !important;
}
.contentHeader{
    background: #D10000;
    color: white;
    padding: 10px;
    font-size: 1.6em;
   
}
.callcenter{
    background-image: url('/assets/images/content/callcenter.jpg');
    width: 100%;
    height: 150px;
    background-size: 100% 100%;
}
.area_bank{
    float: left;
    width: 100%;
    height: auto;
    min-height: 140px;
    background-color: #363636;
}
.img_bank{
    background-image: url('/assets/images/content/banking.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 300px;
    background-size: 100% auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contentText{
    color: white;
    font-size: 1.1em;
    padding:10px;
}
.area_text_bank{
    float: left;
    margin-top:30px;
}
.text_bank{
    font-size: 2em;
    color: white;
    float: left;
}
.text_bank2{
    font-size: 1em;
    color: white;
    float: left;
    clear: both;
}

.area_text_des{
    height: auto;
    float: left;
    min-height: 430px;
    background-color: black;
    padding:0 20px 0 20px;
}
.header1{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.header2{
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}
.text_description{
    color: #fff;
    text-align: center;
}
.text_description_green{
    margin-top:15px;
    font-size: 1.5em;
    color:#5DD812;
    text-align: center;
}
.text_description_green2{
    margin-top:48px;
    font-size: 1em;
    color:#5DD812;
    text-align: center;
    font-weight: 100;
    float: left;
}
.area_line{
    float: left;
    width: 100%;
}
.phone_image{
    background-image: url('/assets/images/content/tel.png');
    background-repeat: no-repeat;
    height: 59px;
    width: 35px;
    float: left;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.line_image{
    background-image: url('/assets/images/content/addfriend.png');
    background-repeat: no-repeat;
    height: 43px;
    width: 169px;
    float: left;
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left:10px;
}

.area_bottom_menu{
    width: 100%;
    float: left;
    height: auto;
    min-height: 300px;
    border-top: #363636 solid 2px;
    margin-top:15px;
}
.text_bottom_menu{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top:30px;
    font-weight: 100;
}



.highlight{
    color:#E8CF01;
}
.indent{
    text-indent: 30px; margin-top: 0.63em
}
.indent2{
    text-indent: 0px; margin-top: 1em
}
.indent3{
    text-indent: 30px; margin-top: 0em
}

.newsArea{
    height: auto;
    margin-top: 10px;
    /* border: 2px solid red; */
    padding: 0px;
    min-height: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left:5px;
    padding-right:5px;
}
.cardNews{
height: 100%;
border: 2px solid #D2AE70;
}
.image-news{
    height: calc( 100% - 70px );
    background-size: cover;
    background-position: center;
}
.text-news{
    padding:10px;
    border-top:1px solid #D2AE70;
    color:white;
    min-height: 50px;
    
}

@media screen and (min-width: 1000px) {
    .callcenter{
        height: 350px;
    }
    .contentArea{
      margin-top:0px;
    }
    .contentArea{
        border: 1px solid #D10000;
    }
    .img_bank{
        float: left;
        margin-left:40px;
        width: 428px;
    }
    .area_text_bank{
        margin-left:80px;
    }
    .text_description_green2{
        font-size: 1.5em;
    }
    .area_line{
        float: left;
        margin-left: 120px;
        width: 100%;
    }
    
   }

@media screen and (min-width: 1200px) {
    .home_slide{
        /* height: 430px; */
    }
    .contentHeader{
        margin-top:0px;
    }
    .text_description_green2{
        margin-top:30px;
        font-size: 2.5em;
    }
}
@media screen and (min-width: 1400px) {
    .home_slide{
        /* height: 430px; */
        
    }
}

@media screen and (min-width: 1600px) {
    .home_slide{
        /* height: 439px; */
    }
}