<div _ngcontent-kms-c4="" class="home_menu">
    <div _ngcontent-kms-c4="" class="container">
        <div _ngcontent-kms-c4="" class="text_menu">ยินดีต้อนรับเข้าสู่เว็บ <span _ngcontent-kms-c4="" class="text_gold_menu">CONNER888.COM</span> คาสิโน กีฬา ออนไลน์</div>
        <div _ngcontent-kms-c4="" class="text_menu2 text_gold_menu">ดีที่สุดอันดับ 1 ของคนไทย</div>
        <div _ngcontent-kms-c4="" class="area_menu">
            <div _ngcontent-kms-c4="" class="row icon_menu">
                <div _ngcontent-kms-c4="" class="col-6 icon_menu_btn" routerlink="/page/register" tabindex="0" ng-reflect-router-link="/page/register"><img _ngcontent-kms-c4="" class="icon_menu_home" src="/assets/images/menu/re1.png">
                    <div _ngcontent-kms-c4="" class="menu_title">สมัครสมาชิก</div>
                    <div _ngcontent-kms-c4="" class="menu_des">สมัครง่ายไม่ยุ่งยาก แนะนำใส่ข้อมูลจริง</div>
                </div>
                <div _ngcontent-kms-c4="" class="col-6 icon_menu_btn" routerlink="/page/howtoplay" tabindex="0" ng-reflect-router-link="/page/howtoplay"><img _ngcontent-kms-c4="" class="icon_menu_home" src="/assets/images/menu/re3.png">
                    <div _ngcontent-kms-c4="" class="menu_title">เข้าเล่นเกมส์</div>
                    <div _ngcontent-kms-c4="" class="menu_des">สนุกกับเกมส์/คาสิโน/บอล/มวย/หวย</div>
                </div>
            </div>
            <div _ngcontent-kms-c4="" class="row icon_menu">
                <div _ngcontent-kms-c4="" class="col-6 icon_menu_btn" routerlink="/page/deposit" tabindex="0" ng-reflect-router-link="/page/deposit"><img _ngcontent-kms-c4="" class="icon_menu_home" src="/assets/images/menu/re2.png">
                    <div _ngcontent-kms-c4="" class="menu_title">ทำรายการฝาก</div>
                    <div _ngcontent-kms-c4="" class="menu_des">ทำรายการฝากขั้นต่ำ 100 บาท</div>
                </div>
                <div _ngcontent-kms-c4="" class="col-6 icon_menu_btn" routerlink="/page/withdraw" tabindex="0" ng-reflect-router-link="/page/withdraw"><img _ngcontent-kms-c4="" class="icon_menu_home" src="/assets/images/menu/re4.png">
                    <div _ngcontent-kms-c4="" class="menu_title">ทำรายการถอน</div>
                    <div _ngcontent-kms-c4="" class="menu_des">ทำรายการถอนออกขั้นต่ำ 300 บาท</div>
                </div>
            </div>
        </div>
    </div>
</div>